* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #1d1c1c;
    /*background: rgb(8,64,43);*/
    /*background: linear-gradient(180deg, rgba(8,64,43,1) 0%, rgba(8,62,42,1) 6%, rgba(70,96,86,1) 44%, rgba(10,18,15,1) 62%, rgba(8,64,43,1) 100%, rgba(8,64,43,1) 100%, rgba(8,64,43,1) 100%);*/
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: .25rem;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
}

#main{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh 2.5vw 2vh;
}
#card{
    height: 68%;
    width: 80%;
}
#loadingArea{
    position: absolute;
    left: 38%;
    top: 15%;
    width: 25vw;
    height: 20vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER AND HEADER LABELS */
#header {
    /*background: #1deeee;*/
    display: flex;
    padding: 5px 10px;
    align-items: center;
    width: 100%;
    top: 0;
    background: #0bd6d6;
    justify-content: space-between;
    z-index: 3;
    margin-bottom: 10px;
}
.filler {
    width: 100%;
    height: 1px;
}
#addCard{
    height: 33px;
    color: white;
    background-color: #1D1C1C;
    font-size: 1rem;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    /*border: 2px solid black;*/
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);*/
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
            inset 0 2px 3px rgba(255,255,255,0.3),
            inset 0 -2px 3px rgba(0,0,0,0.3),
            0 1px 1px rgba(24, 24, 24, 0.9);
    padding: 0 5px;

}
#readCard{
    height: 33px;
    color: white;
    background-color: #1D1C1C;
    font-size: 1rem;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
            inset 0 2px 3px rgba(255,255,255,0.3),
            inset 0 -2px 3px rgba(0,0,0,0.3),
            0 1px 1px rgba(24, 24, 24, 0.9);
    padding: 0 5px;
}
#searchDeck{
    color: white;
    background-color: #1D1C1C;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 1.5rem;
    align-self: center;
    height: 33px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow:
            inset 0 2px 3px rgba(255,255,255,0.3),
            inset 0 -2px 3px rgba(0,0,0,0.3),
            0 1px 1px rgba(24, 24, 24, 0.9);
    padding: 0 5px;

}
#currentCardIndicator{
    color: black;
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 75px;
    height: 33px;
    /*background-color: rgb(239, 239, 239);*/
    text-align: center;
    /*margin-bottom: .25rem;*/
    margin-right: .5rem;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
            inset 1px 2px 3px rgba(3, 3, 3, 0.3),
            inset 1px 1px 3px rgba(0,0,0,0.3),
            1px 1px 1px rgba(24, 24, 24, 0.9);
    padding: 0 5px;

}
/* END HEADER AND HEADER LABELS */

#doubleClick {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}


#closeSearchDeck{
    align-self: flex-end;
}

#languages{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transform-style: preserve-3d;
    animation: spin 0.6s;
}
.languageOptions{
    width: 34%;
    height: 33%;
}
@keyframes spin {
    from{
        transform: rotateY(360deg) rotateX(90deg);
    }
    to{
        transform: rotateY(0deg) rotateX(0deg);
    }
}
.languageOptionsClicked{
    background-color: #8c8989;
    transform: scale(.8);
}







#currentCardCopy{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 1rem;
    color: black;
}



#newCardModal, #editCardModal, #searchDeckModal{
    position: absolute;
    top: 20vh;
    left: 15vw;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height: 50vh;
    min-height: fit-content;
    width: 70vw;
    border: 5px solid black;
    background-color: dimgrey;
    z-index: 10;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#newCardTitle, #newCardCategory, #newCardQuestion, #newCardAnswer, #editCardTitle, #editCardCategory, #editCardQuestion, #editCardAnswer{
    background: lightgrey;
    padding: 5px;
    border-radius: 10px;
}
#submitNewCard, #submitEditCard{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
#hiddenID{
    display: none;
}






.buttonFunctions{
    padding: 2px;
}

.closeModalButton{
    margin-left: auto;
    width: 25px;
}
#closeNewCardModal{
    margin-bottom: -30px;
    margin-top: -33px;
}
#editAndDeleteButtons{
    width: 90%;
    display: flex;
    margin-bottom: -21px;
    margin-top: -40px;
}






#categoryOfCard{
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;

}
#cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebee;
    color: black;
    height: 50%;
    width: 75%;
    justify-content: space-around;
}
#cardFunctions{
    width: 100%;
    display: flex;
    align-items: center;
}
h6{
    align-self: flex-start;
    margin-left: 5px;
}
hr{
    height: 4px;
    width: 100%;
    background-color: blue;
}
#edit{
    width: fit-content;
    align-self: flex-end;
    margin-bottom: -1rem;
    border: 2px solid #08402b;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10%;
}





/*Buttons*/
#cycle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    margin-top: 13%;
    z-index: 2;

}
.cycleThrough{
    background: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 2px;
    border: 1px #0bd6d6 outset;
    width: 110px;
}
button:hover{
    cursor: pointer;
}
/*===========*/







/*====================*/
#finishedArea{
    width: 100vw;
    height: 115vh;
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
}
#completed{
    background-color: gray;
    margin-right: 2.5%;
    top: 50px;
}
#pinned{
    background-color: darkgray;
}
.storedCards{
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    width: 75%;
    height: 50%;
    margin: 15px 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storedCards::-webkit-scrollbar{
    width: .25rem;
}
.storedCards::-webkit-scrollbar-track{
    background-color: #1deeee;
}
.storedCards::-webkit-scrollbar-thumb{
    background-color: #1deeee;
}

pre{
    font-size: 16px;
    font-family: "lato", sans-serif;
}

h5 {
    background-color: whitesmoke;
    padding: 5px;
    border: outset 2px #0bd6d6;
    border-radius: 5px;
    /*top: -5px;*/
    /*position: relative;*/
    /*display: inline;*/



}







.flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: -17px 14px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front {
    height: 350px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
}
.flip-card-front::-webkit-scrollbar{
    width: .25rem;
}
.flip-card-front::-webkit-scrollbar-track{
    background: white;
}
.flip-card-front::-webkit-scrollbar-thumb{
    background: white;
}


.flip-card-back {
    height: 350px;
    width: 100%;
    padding: 0 3rem;
    background-color: white;
    color: black;
    transform: perspective(250px) rotateY(180deg);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.flip{
    transform: perspective(500px) rotateY(180deg);
}

@media screen and (min-width: 768px){
    #newCardModal, #editCardModal, #searchDeckModal{
        left: 25vw;
        min-height: fit-content;
        width: 50vw;
    }
    #finishedArea{
        flex-direction: row;
        height: 75vh;
    }
    .storedCards{
        width: 45%;
        margin: 0;
        height: 100%;
    }
    #pinned{
        margin-left: 2.5%;
    }
    #main{
        height: 57vh;
        margin-bottom: 5vh;
    }
    #card{
        height: 62%;
        width: 60%;
    }
    #cycle{
        height: 5%;
        flex-direction: row;
        width: 50%;
        margin-top: 11%;
    }
    .buttonFunctions{
        padding: 5px;
    }
}
@media screen and (min-width: 1022px) {
    #cycle{
        margin-top: 9%;
    }
}
/* next on the list:
-add fontawesome icons to the buttons at the top on mobile view so we don't have to refactor layout too much
-edit the cycle buttons to be in a straight line vs stacked ====== like this ?
-figure out the scroll bar and button colors
*/











#newCardModal label {
    color: aliceblue;
}















.card {
    /*position: absolute;*/
    transition: transform 1.3s, opacity 1.2s;
}
.card.hidden {
    z-index: 100;
    background-color: #fff;
    color: #fff;
    opacity: 0;
    transition: color 1.5s, background-color 1.5s, transform 1s, opacity 1.2s 1.4s;
    transform: translateX(0px) translateY(0px);
}
.card.hidden h1 {
    color: #fff;
    transition: color 0.5s;
}
.card.hidden:nth-of-type(1) {
    transform: rotate(-3deg) translateX(101%) translateY(-8%) scale(0.3) skewX(9deg) skewY(9deg);
}
.card:nth-of-type(1) {
    z-index: 5;
}




.error {
    background-color: #e6a2ad !important;
}