* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;

}
#main{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh 0;
}
#card{
    height: 90%;
    width: 50%;
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

}



#addCard{
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;

}
#newCardModal{
    position: absolute;
    top: 20vh;
    left: 25vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    min-height: fit-content;
    width: 50vw;
    border: 5px solid black;
    background-color: dimgrey;
    z-index: 1;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

}
#newCardTitle, #newCardCategory, #newCardQuestion, #newCardAnswer {
    background: lightgrey;
}
#submitNewCard{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}





#categoryOfCard{
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;

}
#cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7FF;
    color: black;
    height: 50%;
    width: 75%;
    justify-content: space-around;
}
hr{
    height: 4px;
    width: 100%;
    background-color: blue;
}





/*Buttons*/
#cycle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 10%;
    background-color: black;
}
.cycleThrough{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    border-color: goldenrod;
}
button:hover{
    cursor: pointer;
}
/*===========*/







/*====================*/
#finishedArea{
    width: 100vw;
    height: 75vh;
    display: flex;
    margin: 0 2.5%;
}
#completed{
    background-color: gray;
    margin-right: 2.5%;
}
#pinned{
    background-color: darkgray;
    margin-left: 2.5%;
}
.storedCards{
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.storedCards::-webkit-scrollbar{
    width: .25rem;
}
.storedCards::-webkit-scrollbar-track{
    background: darkgoldenrod;
}
.storedCards::-webkit-scrollbar-thumb{
    background: darkgoldenrod;
}